body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(#43464a, #aacdf5);
  color: #000000;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  position: relative;
}

.header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  
}

.Name_Empresa {
  margin: 0;
  font-size: 24px;
  margin-right: 20px; 
}

.logout-button {
  background-color: #f8f9fa;
  color: #007bff;
  padding: 5px 15px;
  text-decoration: none;
  border: 1px solid #007bff;
  border-radius: 3px;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #007bff;
  color: #fff;
}

main {
  flex: 1;
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.sidebar {
  width: 240px;
  background-color: #333;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 60px;
  transition: transform 0.3s ease;
}

.sidebar.active {
  transform: translateX(-250px);
}

.toggle-button {
  position: absolute;
  top: 2px;
  left: 250px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 18px;
}

.sidebar nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.sidebar nav ul li {
  padding: 8px 20px;
  margin-top: 2px;
}

.sidebar nav ul li a {
  color: #fff;
  text-decoration: none;
}

.sidebar nav ul li a:hover {
  background-color: #575757;
}

.sublist {
  width: 100%;
  display: none;
  list-style-type: none;
  padding: 0;
  margin-top: 4px;
  text-align: right;
}

.sublist li {
  padding: 3px 8px;
  margin-top: 0;
  font-size: 14px;
  white-space: nowrap;
}

.sidebar nav ul li.active .sublist {
  display: block;
}

.content {
  margin-left: 250px;
  padding: 20px;
  width: 100%;
}

footer {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 0;
}

.sidebar.debug-mode {
  border: 2px solid red;
}

.sidebar.debug-mode nav ul li {
  border: 1px solid blue;
}

.sidebar.debug-mode .sublist li {
  border: 1px dashed green;
}