<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Datos</title>
    <link rel="stylesheet" type="text/css" href="static/Index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>
        <div class="header-content">
            <h1 class="Name_Empresa">Chargue Solutions</h1>
            <a href="/logout" class="logout-button">Logout</a>
        </div>
    </header>

    <main>
        <div id="sidebar" class="sidebar active">
            <button id="toggle-button" class="toggle-button">☰</button>
            <nav>
                <ul>
                    <li><a href="#item1">Cargue Vanti</a></li>
                    <li><a href="#item2">Cargue Surgas</a></li>
                </ul>
            </nav>
        </div>

        <section class="content">
            <!-- Contenido principal -->
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Datos de Bogotá. Todos los derechos reservados.</p>
    </footer>

    <script>
        const toggleButton = document.getElementById('toggle-button');
        const sidebar = document.getElementById('sidebar');

        toggleButton.addEventListener('click', () => {
            sidebar.classList.toggle('active');
        });
    </script>
</body>
</html>
